.row {
  max-width: $grid-width;
  margin: 5rem auto;

  &:not(:last-child) {
    margin-bottom: $grid-vertical;
  }

  @include clearfix;

  .col-1-of-2 {
    width: calc((100%-#{$grid-horizontal}) / 2);
    float: left;

    &:not(:last-child) {
      margin-bottom: $grid-horizontal;
    }
  }

  .col-1-of-3 {
    width: calc((60%-#{$grid-horizontal}) / 2);
    float: left;
    margin-left: 13.5rem;

    &:not(:last-child) {
      margin-bottom: $grid-horizontal;
    }
  }
}
